
@import url("../public/fonts/TinyBrushy/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #06090f;
  --foreground: #171717;
  --font-indie-flower: 'Indie Flower', cursive;

}
.font-Montserrat {
  font-family: "Montserrat";
}
.font-IndieFlower {
  font-family: 'Indie Flower';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06090f;
  }
}
* {
  transition: all 0.3s;
}
body {
  background: var(--background);
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "TinyBrushy";
  src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
}

@font-face {
  font-family: "IndieFlower";
  src: url("/fonts/IndieFlower/IndieFlower-Regular.ttf") format("ttf");
}
.background {
  background-image: url(../public/assets/images/Main\ picture.png);
  /* background-size: 26%; */
}
.backdrop-filter {
  background: rgba(41, 34, 34, 0.25);

  backdrop-filter: blur(10px);
}


.music-playlist-scroll {
  animation: scrolled 30s linear infinite;
}

/* Pause animation on hover for better user interaction */
.music-playlist-scroll:hover {
  animation-play-state: paused;
}
@keyframes scrolled {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-340px * 15)); /* Adjust based on number of items in musicPlaylist */
  }
}
.description {
  overflow: hidden;
  /* background: white; */
  white-space: nowrap;
  position: relative;
  user-select: none;
  --gap: 20px;
  gap: var(--gap);
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.description-slide {
  gap: var(--gap);

  animation: 20s scroll infinite linear;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@layer base {
  /* styles/globals.css */
@font-face {
  font-family: 'TinyBrushy';
  src: url('/fonts/TinyBrushy/TinyBrushy.woff2') format('woff2'),
       url('/fonts/TinyBrushy/TinyBrushy.woff') format('woff'),
       url('/fonts/TinyBrushy/TinyBrushy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
}

/* .font-tinyBrushy {
  font-family: "TinyBrushy";
} */
.font-beginning {
  font-family: "Beginning";
}

.clip-circle {
  clip-path: circle(50%);
}
.indie-flower-regular {
  font-family: "IndieFlower", serif;
  font-weight: 400;
  font-style: normal;
}

.font-tinyBrushy {
  font-family: "Tiny Brushy", sans-serif;
}
.whoRunner {
  background: "linear-gradient(100deg, rgba(102, 112, 133, 0.10) 2.31%, rgba(152, 162, 179, 0.10) 52.72%, rgba(71, 84, 103, 0.10) 86.04%)"

}

@media (max-width: 640px) {
  .whoRunner {
    background: none;
  
  } 
}