@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/fonts/TinyBrushy/stylesheet.css");
:root {
  --background: #06090f;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06090f;
  }
}
* {
  transition: all 0.3s;
}
body {
  background: var(--background);
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "TinyBrushy";
  src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
}
.background {
  background-image: url(../public/assets/images/Main\ picture.png);
  background-size: 26%;
}
.backdrop-filter {
  background: rgba(41, 34, 34, 0.25);

  backdrop-filter: blur(10px);
}

.description {
  overflow: hidden;
  /* background: white; */
  white-space: nowrap;
  position: relative;
  user-select: none;
  --gap: 20px;
  gap: var(--gap);
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.description-slide {
  gap: var(--gap);

  animation: 20s scroll infinite linear;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@layer base {
  /* 
  @font-face {
    font-family: "TinyBrushy";
    src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "TinyBrushy";
    src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "TinyBrushy";
    src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "TinyBrushy";
    src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "TinyBrushy";
    src: url("/fonts/TinyBrushy/TinyBrushy.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  } */
  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Beginning";
    src: url("/fonts/Beginning/BeginningRegular.woff") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
}

/* .font-tinyBrushy {
  font-family: "TinyBrushy";
} */
.font-beginning {
  font-family: "Beginning";
}

.clip-circle {
  clip-path: circle(50%);
}

.font-tinyBrushy {
  font-family: "Tiny Brushy", sans-serif;
}
